body {
  padding-bottom:2000px;
}

p {
  font-family : verdana ;
  font-size : 15px ;
  padding: 30px 10px 20px 10px;
  z-index:4;
}

#music {
text-align: left;
}

.svg {
z-index:2;
  

}

#main {

}
#queen {
background-color: lightblue;

}

.sticky{

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid grey;
  z-index:10;
}

.toparea {
  max-height:150px;
}

#profile {
float:left;
  width: 180px;
  height:180px;
  overflow:auto;
  z-index:3;
}

.logos {
width:40px;
  height:40px;
  z-index:5;
  overflow:auto;
}
#courses {
background-colour: 

}
.container {
  display: grid;
  position: relative;
  margin: auto;
  grid-gap: 10px;
  grid-template: repeat( 10, 1fr) / repeat (10, 1fr);
}

h1, h2 {
  font-family: monospace;
  text-align: center;
}

h4 {
text-align: left;
}

header {
  background-color: grey;
  grid-area: 1/1/3/11;
  grid-template-columns: 1fr 4fr;
}

.left {
  background-color: darkseagreen;
  grid-area: 5/1/10/4;
    text-align: center;
   border: 2px solid grey;
}

.center {
 background-color: green;
  grid-area: 5/4/10/7;
  z-index:4;
  text-align: center;
   border: 2px solid grey;
  
}

.right {
  background-color: lightgreen;
  grid-area: 5/8/10/11;
   border: 2px solid grey;
}

footer {
background-color: forestgreen;
  grid-area: 10/1/11/11;
  color: black;
}

table {

  color: black;
  
}

#schedule {
width:200px;
  height:150px;
  
}

td {
background-color: lightblue;
  font-family:ariel;
}

th {
  background-color: #4CAF50;
  color: white;
  font-family: timesnewroman;
}
