body {
  
}

p {
  font-family : verdana ;
  font-size : 20px ;
}
#main {

}
.sticky{

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

.toparea {
  position
}


.logos {
width:50px;
  height:50px;
  z-index:5;
}
#courses {
background-colour: 

}
.container {
  display: grid;
  position: relative;
  margin: auto;
  grid-gap: 10px;
  grid-template: repeat( 10, 1fr) / repeat (10, 1fr);
}

h1, h2 {
  font-family: monospace;
  text-align: center;
}

header {
  background-color: grey;
  grid-area: 1/1/3/11;
  grid-template-columns: 1fr 4fr;
}

.left {
  background-color: darkseagreen;
  grid-area: 5/1/10/6
}

.right {
  background-color: lightgreen;
  grid-area: 5/6/10/11;
}

footer {
background-color: forestgreen;
  grid-area: 10/1/11/11;
  color: black
}

table {

  color: black;
  
}

th {
  background-color: #4CAF50;
  color: white;
}
