


/* Main */

body {
  padding-bottom:2000px;
} /* Wanted to make sure that I had space for everything  */

title {
background-color: lightblue;
}

p {
  font-family : verdana ;
  font-size : 15px ;
  padding: 30px 10px 20px 10px;
  z-index:4;
} /* 30pixels on top, 20px on the bottom, and 10px on each side  */

h1, h2 {
  font-family: monospace;
  text-align: center;
}

h4 {
text-align: left;
}

header {
  background-color: grey;
  grid-area: 1/1/3/11;
  grid-template-columns: 1fr 4fr;
} /*  The grid area of this spans the whole page from left to right but only goes a litle down. */

footer {
  grid-area: 10/1/11/11;
  /* No background colour becuase my canvas was action as one  */
  color: black;
} /* The ending of my page, where I put any extra information  */

table {
  color: black;
}

td {
background-color: lightblue;
  font-family:ariel;
}

th {
  background-color: #4CAF50;
  color: white;
  font-family: timesnewroman;
}



/* Classes */
.pdf {
 display: block;
  margin-left: auto;
  margin-right: auto; /*  The 3 lines of code here is so that it was centered */

}
.svg {
z-index:2;
  

}
.sticky{

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid grey;
  z-index:10; /*  Made sure that it was the highest z-index. */
}

.toparea {
  max-height:150px;
}

.logos {
width:40px;
  height:40px;
  z-index:5;
  overflow:auto;
}
.container {
  display: grid;
  position: relative;
  margin: auto;
  grid-gap: 10px; 
  grid-template: repeat( 10, 1fr) / repeat (10, 1fr); /*  Arguably the most important part of CSS,
  wanted 10 equal sections for area and column for the sake of simplicity. */
}

.left {
  background-color: darkseagreen;
  grid-area: 5/1/10/4;
    text-align: center;
   border: 2px solid grey;
}

.center {
 background-color: green;
  grid-area: 5/4/10/7;
  z-index:4;
  text-align: center;
   border: 2px solid grey;
  
}

.right {
  background-color: lightgreen;
  grid-area: 5/8/10/11;
   border: 2px solid grey;
}


/* ID */

#vanselow {
width:400px;
  height:200px;
   border-radius: 8px;
}

#rosileo {
 display: block;
  margin-left: auto;
  margin-right: auto;
}

#music {
text-align: left;
}

#main {

}

#queen {
background-color: lightblue;

}

#profile {
float:left;
  width: 180px;
  height:180px;
  overflow:auto;
  z-index:3; /*  This id ended up being scraped because I was having trouble including my profile picture at first. */
}

#courses {
background-colour: /* The left section acted as my background color.  */

}

#schedule {
width:200px;
  height:150px;
  
}

#myCanvas {
z-index:-1;
  position:absolute;
}
